/* 
Stylesheet file.
Created by: Van Harper, 9/15/2018. 
*/
/* Variables and Mixins imports */
/*
Sass Variables file.
Created by: Van Harper, 9/18/2018. 
*/
/*  Colors */
/* Border Styles */
/* Margins for main elements of bigger displays */
/* Box Shadow Styles */
/* 
Sass Mixins file. 
Created by: Van Harper, 9/18/2018. 
*/
/* Transitions */
/* About Page */
/* Styles for the All and Home page */
/* Style for header element */
header {
  border: 0.05em solid #036a77e1;
  border-radius: 3em;
  padding: 1em;
  -webkit-box-shadow: 0.8em 0.8em 0.9em #036a77e1;
          box-shadow: 0.8em 0.8em 0.9em #036a77e1;
  background-color: #80d7ff;
  /* For Edge 6.1 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, left bottom, from(#e6ffff), to(#80d7ff));
  background: linear-gradient(#e6ffff, #80d7ff);
  /* Standard syntax  */
  /* Style for header img element image*/
}

header img {
  width: 30%;
  height: 36%;
  border-radius: 3em;
  display: block;
  margin: auto;
  -webkit-box-shadow: 0.55em 0.55em 0.6em #008080;
          box-shadow: 0.55em 0.55em 0.6em #008080;
  border: 0.01em solid #e6ffff;
}

/*Default Style for the left margin of the main element for the Contact and Education pages*/
main.main_edu {
  margin-left: 12%;
}

main.main_con {
  margin-left: 12%;
}

/* Style for body specifies a background color */
body {
  background-color: #e6ffff;
}

/* Style for the button elements*/
button {
  color: #e6ffff;
  background-color: #008080;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1em;
  /* Hover psuedo class for Nav Buttons */
}

button:hover:not(.activeHover) {
  background-color: #00331f;
  color: #b3ecff;
  border: 0.1em solid #80d7ff;
  -webkit-transition-delay: 15ms;
          transition-delay: 15ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: .75s;
          transition-duration: .75s;
}

/* Styles for the photo on the Index page */
.index_photo {
  text-align: center;
}

.index_photo img {
  border: solid;
  border-color: #003333;
  border-width: 0.12em 0.12em 0.12em 0.12em;
  border-radius: 1%;
  -webkit-filter: sepia(50%);
          filter: sepia(50%);
}

.index_photo img:hover {
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 30s;
          transition-duration: 30s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transform: rotate(359deg) scale(0.0005);
          transform: rotate(359deg) scale(0.0005);
}

/* Style for the unordered list element */
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* Sets the Padding and Margins for the Footer's social media icons to a Default of 0*/
.SMicons {
  margin: 0;
  padding: 0;
}

/* Style for the h3 header tags */
h3 {
  font-style: none;
  font-weight: bold;
  font-size: 1.8em;
  font-family: "AR Cena",Times, serif;
  color: #004d4d;
  text-align: center;
}

/* Styles for Footer element */
footer {
  overflow: auto;
  padding: 2em;
  text-align: center;
  /* Style for the Icon images in the footer */
}

footer img {
  width: 4em;
  height: 4em;
  text-align: center;
  -webkit-filter: opacity(0.85);
          filter: opacity(0.85);
}

footer img:hover {
  -webkit-filter: opacity(0.785);
          filter: opacity(0.785);
  -webkit-transition: all;
  transition: all;
  -webkit-transition-delay: 15ms;
          transition-delay: 15ms;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform: scale(1.025) rotateZ(1.75deg);
          transform: scale(1.025) rotateZ(1.75deg);
}

/* Style for All/Home page closer */
/* Style for About Me page */
/* Style for the About Me unordered list */
main li {
  display: block;
  list-style-type: none;
  font-size: 1.5em;
  font-family: "AR Cena", Times, serif;
  color: #004d4d;
}

/* Style for the About Me header */
h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 2.3em;
  font-family: "Arial Black",Times, serif;
  color: #003333;
}

/*Mixin styles for the About Page */
div.workList h1 {
  text-align: center;
}

div.workList ul {
  text-align: center;
  border: 0.25em double #003333;
  width: 45%;
  margin-left: 25%;
}

div.aboutList h1 {
  text-align: center;
}

div.aboutList ul {
  text-align: center;
  border: 0.25em double #003333;
  width: 45%;
  margin-left: 25%;
}

/* Style for About Me closer */
/* Style for the Education page */
/* Style for the links on the education page */
a.ed_links {
  color: none;
  text-align: center;
  list-style-type: none;
  /* Psuedo class for visited links */
}

a.ed_links:visited {
  color: #e6000038;
}

/* Style for the h2 tag */
h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  font-family: "Arial Black",Times, serif;
  color: #003333;
}

/* Style for the tabe element */
table {
  border: 0.25em solid #050c1f;
  border-color: #003333;
}

/* Style for the table header tags */
th {
  font-family: "Arial Julian",Times, serif;
  border: 0.15em solid #050c1f;
  background: #006656;
  color: #e6ffff;
  border-color: #050c1f;
  font-weight: bold;
  font-size: 1.4em;
}

/* Style for the table data tags */
td {
  font-family: "Arial Black",Times, serif;
  border: 0.15em solid #050c1f;
  color: #332a51;
  border-color: #050c1f;
  font-size: 1em;
}

/* Style for the Education page closer */
/* Style for the Contact page */
/* Style for the label element */
label {
  font-family: "Arial Julian",Times, serif;
  font-size: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  color: #332a51;
}

/* Style for the paragraph tags */
p {
  font-family: "Arial Julian",Times, serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #332a51;
}

/* Style for the submit button on the Contact Form */
input[type=submit] {
  border: .1em solid;
  padding: .3em 1.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  color: #e6ffff;
  background-color: #008080;
  cursor: pointer;
  font-weight: bold;
  width: 20%;
  border-radius: 1em;
  /* Style for the submit button hover psuedo class */
}

input[type=submit]:hover {
  background-color: #00331f;
  color: #b3ecff;
  border: 0.1em solid #80d7ff;
  -webkit-transition-delay: 15ms;
          transition-delay: 15ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: .75s;
          transition-duration: .75s;
}

/* Style for the Contact page closer */
/* Mobile media query for displays under 481px*/
@media only screen and (max-width: 480px) {
  /*Style for the left margin of the main element for the Contact and Education pages*/
  main.main_con {
    margin-left: 2%;
  }
  main.main_edu {
    margin-left: 0%;
  }
  /* Styles for the text ont he about page */
  div.workList {
    margin-left: -10%;
  }
  div.workList h1 {
    margin-left: 0%;
  }
  div.workList ul {
    padding: .5em .5em .5em .5em;
    margin-top: -.8%;
    border: 0.2em double #003333;
    width: 60%;
  }
  div.aboutList {
    margin-left: -10%;
  }
  div.aboutList h1 {
    margin-left: 0%;
  }
  div.aboutList ul {
    padding: .5em .5em .5em .5em;
    margin-top: -.8%;
    border: 0.2em double #003333;
    width: 55%;
  }
  /*Style to center the phone number and email on the Contact page */
  div.myContact2 p {
    text-align: center;
  }
  /* Style for the nav element */
  nav {
    margin-top: .4em;
  }
  /* Style for the anachor element */
  a {
    display: block;
    padding: .01em;
  }
  li {
    text-align: center;
  }
  button {
    cursor: pointer;
    border: .05em solid;
    padding: .1em 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9em;
    margin: auto;
    cursor: pointer;
  }
  header {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: .4em;
    margin-left: .1em;
    margin-right: none;
    border-radius: .3em;
  }
  header img {
    width: 50%;
    height: 50;
    border-radius: .3em;
    text-align: right;
    display: block;
    -webkit-box-shadow: 0.2em 0.15em 0.1em #008080;
            box-shadow: 0.2em 0.15em 0.1em #008080;
  }
  /* Styles for the imagees on the Index page */
  .home img {
    width: 58%;
    height: 52%;
  }
  .index_photo img {
    width: 70%;
  }
  /* Style for the button elements*/
  button {
    border-radius: 0.5em;
    /* Hover psuedo class for Nav Buttons */
  }
  button:hover:not(.activeHover) {
    border: 0.05em solid #80d7ff;
  }
  /*Styles for the Submit Button on the Contact page*/
  input.sub_button {
    min-width: 6%;
    max-width: 30%;
    height: 2.8em;
    font-size: .9em;
    margin-left: 32.5%;
  }
  /* Style for the About Me unordered list */
  main li {
    font-size: 1em;
  }
  /* Style for the About Me header */
  h1 {
    font-size: 1.4em;
  }
  /* Style for the h2 tag, for the Education headers */
  h2 {
    font-size: 1.2em;
  }
  /* Styles for the Table ont he Education page */
  th {
    font-size: 1em;
  }
  td {
    font-size: .7em;
  }
  input {
    width: 65%;
  }
  h3 {
    font-size: 1.2em;
  }
  label {
    font-size: .8em;
  }
  p {
    font-size: .8em;
  }
  input[type=submit] {
    width: 35%;
    font-size: .8em;
  }
  /* Styles for the social media icons in the footer */
  footer a {
    display: inline;
  }
  footer img {
    margin: 0;
    padding: 0;
    width: 2.2em;
    height: 2.2em;
  }
}

/* Mobile closer */
/* Tablet media query for displas over 480 and below 861px */
@media only screen and (min-width: 481px) and (max-width: 860px) {
  /*Style for the left margin of the main element for the Contact and Education pages*/
  main.main_con {
    margin-left: 36%;
  }
  main.main_edu {
    margin-left: 8.5%;
  }
  div.workList {
    margin-left: 0.5%;
  }
  div.workList h1 {
    margin-left: 0.5%;
  }
  div.workList ul {
    padding: .5em .5em .5em .5em;
    margin-top: -.8%;
    border: 0.2em double #003333;
    width: 55%;
  }
  div.aboutList {
    margin-left: 0.5%;
  }
  div.aboutList h1 {
    margin-left: 0.5%;
  }
  div.aboutList ul {
    padding: .5em .5em .5em .5em;
    margin-top: -.8%;
    border: 0.2em double #003333;
    width: 55%;
  }
  header {
    padding: none;
    -webkit-box-shadow: 0.4em 0.3em 0.2em #008080;
            box-shadow: 0.4em 0.3em 0.2em #008080;
    margin-bottom: .3em;
  }
  header img {
    border-radius: .8em;
    margin: auto;
    text-align: center;
  }
  .home img {
    width: 32%;
    height: 42%;
  }
  .index_photo img {
    max-width: 75%;
    border-radius: 2px;
  }
  button {
    border-radius: 0.5em;
    /* Hover psuedo class for Nav Buttons */
  }
  button:hover:not(.activeHover) {
    border: 0.05em solid #80d7ff;
  }
  /*styles for the Submit button of the contact form*/
  input.sub_button {
    min-width: 10%;
    max-width: 35%;
    height: 3.1em;
    font-size: .98em;
    margin-left: 7.5%;
  }
  /* Style for the nav element */
  nav {
    margin-top: 1em;
    text-align: center;
  }
  button {
    border: .1em solid;
    padding: .2em .6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9em;
    margin: auto;
  }
  /* Stle for the anachor element */
  a {
    display: block;
    padding: .1em;
  }
  footer a {
    display: inline;
  }
  /* Style for the About Me unordered list */
  main li {
    font-size: 1.1em;
  }
  /* Style for the About Me header */
  h1 {
    font-size: 1.7em;
  }
  /* Style for the h2 tag, for the Education headers */
  h2 {
    font-size: 1.4em;
  }
  /*Styles for the table on the education page */
  th {
    font-size: 1.2em;
  }
  td {
    font-size: 1em;
  }
  h3 {
    font-size: 1.5em;
  }
  label {
    font-size: 1.1em;
  }
  p {
    font-size: 1.1em;
  }
  /* Style for the text area on the Contact Form */
  input {
    width: 34%;
  }
  input[type=submit] {
    width: 30%;
  }
  /* Styles for the social media icons in the footer */
  footer img {
    margin: 0;
    padding-right: .5em;
    padding-left: .5em;
    float: center;
    max-width: 3em;
    height: 3em;
  }
}

/* tablet media query close */
/* Media query for desktop viewport targets screens with a minimum width of 830px */
@media only screen and (min-width: 861px) and (max-width: 1200px) {
  /*Style for the left margin of the main element for the Contact and Education pages*/
  main.main_con {
    margin-left: 36%;
  }
  main.main_edu {
    margin-left: 12%;
  }
  button {
    border: .1em solid;
    padding: .75em 1.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
  }
  /* Style for the nav element */
  nav {
    margin-top: 1.8em;
  }
  li {
    display: inline;
    margin-left: .2em;
    margin-right: .2em;
  }
  /* Stle for the anachor element */
  a {
    padding: 1.4em;
  }
  .home img {
    width: 35%;
    height: 43%;
  }
  /*styles for the Submit button of the contact form*/
  input.sub_button {
    min-width: 10%;
    height: 2.9em;
    font-size: 1em;
    margin-left: 6%;
  }
  .index_photo img {
    max-width: 80%;
  }
  .links {
    float: center;
    text-align: center;
  }
  footer {
    margin-top: 0.5em;
  }
  footer img {
    min-width: 3.6%;
  }
  /* Style for the text area on the Contact Form */
  input {
    width: 20%;
  }
  input[type=submit] {
    width: 20%;
  }
}

/* Desktop media query close */
/* Media quer for widerscreen displays over 1200px */
@media only screen and (min-width: 1201px) {
  /*Style for the left margin of the main element for the Contact and Education pages*/
  main.main_con {
    margin-left: 36%;
  }
  main.main_edu {
    margin-left: 25%;
  }
  button {
    border: .1em solid;
    padding: 1.1em 1.7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
  }
  /* Style for the nav element */
  nav {
    margin-top: 2em;
  }
  li {
    display: inline;
    margin-left: .2em;
    margin-right: .2em;
  }
  /* Stle for the anachor element */
  a {
    padding: 1.5em;
  }
  .home img {
    width: 35%;
    height: 45%;
  }
  /*styles for the Submit button */
  input.sub_button {
    min-width: 11%;
    height: 3em;
    font-size: 1.02em;
    margin-left: 6.5%;
  }
  .links {
    float: center;
    text-align: center;
  }
  footer {
    margin-top: 0.5em;
  }
  footer img {
    min-width: 3.75%;
  }
  /* Style for the text area on the Contact Form */
  input {
    width: 20%;
  }
  input[type=submit] {
    width: 15%;
  }
  label {
    font-size: 1.7em;
  }
}

/* Widescreen media query close*/
/*# sourceMappingURL=styles.css.map */