<!DOCTYPE html>
<!-- This website template was created by: Van Harper 11/13/2017 -->
<html lang="en">
<head>
	<link rel="stylesheet" href="CSS/styles.css">
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
</head>


<body>

	
	<header>
	<img src="images/banner.jpg" alt="Banner">
	</header>
	
	
	<nav>
	<ul>
		<li><a href="index.html">Home </a></li>		
		<li><a href="about.html">About Me</a><li>		
		<li><a href="education.html">Education </a><li>		
		<li><a href="contact.html">Contact Information</a><li>
	</ul>		
	</nav>
	



	
	<main>
	

	</main>
	
	

	</body>
	
	
	<footer>
		
	</footer>
		

</html>